<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bikash.student">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/graduate_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Routine">
            //making the routing landscape mode
        </activity>
        <activity android:name=".Presence" />
        <activity android:name=".Events" />
        <activity
            android:name=".BasicEventsActivity"
            android:label="@string/title_activity_basic_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".File" />
        <activity android:name=".Facebook" />
        <activity android:name=".GoogleDrive" />
        <activity android:name=".Developer" />
        <activity android:name=".SignInActivity" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".MyNewIntentService"
            android:exported="false" />

        <activity android:name=".EditPresence" />
        <activity android:name=".LocalSignIn"></activity>
    </application>

</manifest>